:root {
    --primary: #000;
    --bg: #F2F2F7;
    --card: #FFFFFF;
    --text-main: #000000;
    --text-muted: #8E8E93;
    --radius-ios: 20px;
    --bezier: cubic-bezier(0,1.09,1,1);
}

@font-face {
    font-family: 'sf';
    src: url('./SF-Pro.ttf') format('truetype');
}
@font-face {
    font-family: 'streak';
    src: url('./SF-Pro-Rounded-Heavy.otf') format(opentype);
}
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    font-feature-settings: "cv07";
    caret-color: var(--primary);
    font-family: -apple-system, 'sf', "InterVariable";
}
input:focus::placeholder{
    color: transparent;
    transition: 200ms;
}
html, body {
  touch-action: pan-x pan-y;
}

body {
    margin: 0;
    background: white;
    color: var(--text-main);
    padding-bottom: 100px;
    padding: 0;
    padding-top: env(safe-area-inset-top); /* deja espacio arriba para la status bar */
}

#dateSelector input {
    -webkit-appearance: none;
    width: auto;
    border: none;
    background: #00000008;
    padding: 10px 16px;
    border-radius: 19px;
    font-weight: 430;
    font-size: 16px;
    color: #0000005e; 
    
    backdrop-filter: blur(14px);
    transition: 400ms;
}
#dateSelector input:focus{
    background: #0000000b;
    scale: 90%;
    color: #0000006f;
}

main {
    padding: env(safe-area-inset-top) 26px 0 26px;
    margin-top: 0;
}


/* --- Action Button --- */

#addHabitBtn {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: var(--primary);
    color: white;
    border: none;
    font-family: 'sf';
    font-size: 24px;
    font-weight: 600;
    z-index: 90;
    position: fixed;
    bottom: 74px;
    left: calc(50% - 25px);
}
@keyframes scaleClick {
  0% { transform: scale(1); }
  30% { transform: scale(0.9); }
  60% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

#addHabitBtn.clickAnim {
  animation: scaleClick 0.3s forwards; /* animación rápida */
}

/* --- Sheets (iOS Style) --- */
.sheetContent {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border-radius: 38px 38px 0 0;
    max-height: 99%;
    overflow-y: auto;
    transform: translateY(100%);
    transition: transform 0.4s cubic-bezier(.11,.95,.39,.99);
    box-shadow: 0px 54px 70px 0px #00000000;
    backdrop-filter: blur(52px);
    z-index: 1000;
}

.sheetContent.closing {
    transition: transform 400ms cubic-bezier(.42,.3,.26,.99); /* close */
}
.sheetContent.active {
    transform: translateY(0);
    box-shadow: 0px 14px 70px 0px #00000038;
}
#view{
    margin-bottom: 30%;
    gap: 0;
}
.down{
    position: fixed;
    bottom: 44px;
    width: calc(100% - 32px);
    justify-content: center;
    box-sizing: border-box;
}
.btones{
    box-sizing: border-box;
    display:flex;
    justify-content:center;
    gap:10px;
}
#createSheet{
   background-color: #f2f2f7;
}
.headerA{
   font-size: 17.5px;
   padding: 0 0 13px 0;
   margin-bottom: 18px;
   margin-top: -1px;
   font-weight: 540;
   text-align: center;
   position: sticky;
   top: -1px;
   background: #ffffff;
}
.headerB{
   font-size: 17.5px;
   padding: 0 0 13px 0;
   margin-top: -1px;
   font-weight: 540;
   text-align: center;
   position: sticky;
   top: -1px;
   background: #f2f2f5;
}
.headerIcons{
   font-size: 17.5px;
   padding: 0 0 28px 0;
   margin-top: -1px;
   font-weight: 540;
   text-align: center;
   position: sticky;
   top: -1px;
   z-index: 10;
   background: linear-gradient(to bottom, #ffffff 50%, transparent);
}
.spaceline {
   width: 100%;
   padding: 6px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.line{
   height: 5px;
   width: 40px;
   background-color: #ccc;
   border-radius: 30px;
}
.btn-cancel{
   width: 44px;
   height:44px;
   border-radius: 50%;
   font-size: 20px;
   font-family: 'sf';
   font-weight: 550;
   color: #999;
   background-color: #78788029;
   border: none;
   backdrop-filter: blur(10px);
}
.btn-action{
   width: 44px;
   height:44px;
   border-radius: 50%;
   font-size: 20px;
   font-family: 'sf';
   font-weight: 550;
   color: white;
   background-color: var(--primary);
   border: none;
   backdrop-filter: blur(10px);
}
.actions{
   display:flex;
   align-items: center;
   gap:13px;
}
.action{
   width: 44px;
   height:44px;
   border-radius: 50%;
   font-size: 20px;
   font-family: 'sf';
   font-weight: 500;
   color: #444;
   background-color: transparent;
   border: none;
}
.pair{
    display:flex;
    align-items: center;
   background-color: #78788012;
    border-radius: 50px;
    padding: 10px 8px;
    gap:12px;
}
.vLine{
    width:1px;
    height:24px;
    background-color:#ccc;
    margin: 0 7px;
}
.single{
   font-size: 20px;
   font-family: 'sf';
   font-weight: 500;
   color: #444;
   border: none;
   background-color: transparent;
}
.conjunto{
   display:flex;
   align-items: center;
   gap:13px;
   padding: 0 18px;
}
.duo{
   display:flex;
   align-items: center;
   gap:13px;
   padding: 0 18px;
    justify-content: space-between;
}
.centro{
   display:flex;
   align-items: center;
   gap:13px;
   padding: 0 18px;
   justify-content: space-between;
}
.del{
    color: #FF383C;
    background-color: #ff383b11;
}
.unitInputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.habito{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
#vUnitLabel{
    font-size: 15.6px;
    color: #777;
    margin: 6px 0 20px 0;
}
/* Icon Picker Circle */

.iconTrigger {
    font-family: 'sf';
    font-weight: 590;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #ffffff;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

.iconGrid {
   font-family: 'sf';
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   gap: 15px;
   margin: -14px 28px 100px 28px;
}

.iconItem {
    font-family: 'sf';
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    font-size: 23px;
    font-weight: 599;
    border-radius: 12px;
    background: transparent;
    color: #969499;
}
.iconItem.selected {
    background: #3030300f;
    border-radius: 12px;
}

.manualQtyInput {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 100px;
    display: block;
    background: transparent;
    color: black;
    font-weight: 600;
    border-radius: 11px;
    font-size: 24px;
    transition: background 400ms, color 300ms;
}
.manualQtyInput:focus {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 100px;
    display: block;
    background: #f0f0f0;
    color: black;
    font-weight: 600;
    font-size: 24px;
}
.qtyControls{
   display:flex;
   align-items: center;
   justify-content: center;
   gap:40px;
   padding: 0 24px;
   margin-bottom: 20%;
}
.btn {
    -webkit-appearance: none;
    width: 100%;
    padding: 16px;
    border-radius: 40px;
    border: none;
    font-family: 'sf';
    font-size: 18px;
    color: #777;
    font-weight: 500;
}
.plusminus{
    -webkit-appearance: none;
    width: 54px;
    height: 54px;
    padding: 16px;
    border-radius: 50%;
    border: none;
    font-family: 'sf';
    font-size: 20px;
    color: #777;
    font-weight: 590;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;
}
.plusminus.clicked {
    animation: click 300ms ease;
}

@keyframes click{
    0% { transform: scale(1.05); filter: brightness(0.95); }
    100% { transform: scale(1); }
}
.btn-blue {
    background: var(--primary);
    color: white;
}

.btn-gray {
    background: #E5E5EA;
    color: black;
}

.btn-red {
    color: #FF3B30;
    background: #FFE9E8;
}

/* Color Presets */



#vIcon {
    font-size: 32px;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
}

.botoncito {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    font-family: 'sf';
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

/* --- Calendar Pro Mejorado --- */

.calGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
    text-align: center;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    width: 100%;
}
.ring-fg {
    fill: none;
    stroke: currentColor; /* Esto tomará el color que inyectamos por JS */
    stroke-width: 4;      /* Un poquito más grueso para que luzca */
    stroke-linecap: round;
    transition: stroke-dashoffset 0.3s ease;
}

.dayCell {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    max-width: 48px;   /* límite superior */
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ring {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}

.ring-bg {
    fill: none;
    stroke: #e6e6e6;
    stroke-width: 3;
}



.dayNum {
    position: relative;
    z-index: 2;
    line-height: 1;
}

.habitName {
    font-size: 17px;
    font-weight: 520;
}

.cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.details{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.habitIconCircle {
    width: 40px;
    height: 40px;
    font-family: 'sf';
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
}

.habitInfo {
    flex: 1;
}
.heading{
    font-weight: 500;
    font-size: 17px;
}
.habitInfo p {
    margin: 2px 0 0;
    font-size: 13px;
    color: var(--text-muted);
}
.habitCard {
    padding: 18px 24px;
    border-radius: 33px;
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 12px;
    min-height: 0;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    transform: scale(100%);
    cursor: pointer;
    transition: 300ms;
    overflow: hidden;
}

.habitCard.completed .habitName {
    opacity: 0.3;
    text-decoration: line-through;
    text-decoration-thickness: 1.1px;
    font-weight: 500;
}

/* El contenedor que envuelve la barra y los números */
.expandableContent {
    max-height: 0;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.3s ease, margin 0.4s ease;
    overflow: hidden;
}

/* Cuando el hábito tiene progreso, se expande */
.habitCard.expanded .expandableContent {
    max-height: 100px; /* Un valor mayor al contenido real */
    opacity: 1;
    margin-top: 10px;
}

/* Animación para la barra de progreso cuando aparece */
.habitProgressBar {
    height: 6px;
    margin-top: 10px;
    border-radius: 3px;
    background: rgba(0,0,0,0.05);
}
.dup{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.streak{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
    color: #f87c0f;
}
.streaknum{
    font-size: 16px;
    font-weight: 550;
}
/* Animación para los textos de cantidad (badge) */
.habitProgressBadge {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 540;
    animation: fadeIn 0.4s ease-out forwards;
}

.habitProgressBarInner {
    transition: width 0.4s cubic-bezier(.2,.8,.2,1), opacity 0.1s ease;
    height: 100%;
    width: 0%;
    background: var(--primary);
    border-radius: 8px;
}

.cantidad {
    display: flex;
    justify-content: space-between;
}

header {
    position: sticky;
    top: 8px;
    z-index: 30;
    top: env(safe-area-inset-top);
}

.topbar {
    position: sticky;
    display: flex;
    flex-direction: column;
    padding: 24px 28px 40px 28px;
    padding-top: calc(24px + env(safe-area-inset-top)); /* suma tu padding original + safe area */
}

.cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to bottom,
        #ffffff,
        #ffffff07
    );
    -webkit-backdrop-filter: blur(8px);
    mask-image: linear-gradient(
        to bottom,
        black 1%,
        transparent 100%
    );
    -webkit-mask-image: linear-gradient(
        to bottom,
        black 80%,
        transparent 100%
    );
    z-index: -1;
}

.topbar > * {
    position: relative;
    z-index: 1;
}

.bigt {
    font-size: 34px;
    font-weight: 700;
    letter-spacing: -0.4px;
    margin: 0 0 10px 6px;
}
.field{
    width: 100%;
    text-align: left;
    height: 100%;
    border: none;
    border-radius: 14px;
    padding: 0;
    font-size: 17px;
    font-weight: 460;
    background: transparent ;
}
#create{
   background-color: #F2F2F7;
}
.table{
   background-color: white;
   padding: 0px 20px;
   border-radius: 26px;
}
.form{
   margin: 0 16px;
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin-bottom: 74px;
}
.row{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: transparent;
   padding: 16px 0;
   border-bottom: 1px solid #e6e6e6;
}
.row:last-child{
   border-bottom: 1px transparent;
}
#hName{
   width: 100%;
   height: 54px;
   font-size: 22px;
   font-weight: 600;
   background-color: white;
   padding: 0px 20px;
   border-radius: 26px;
}

.colorPresets {
  display: grid;
  grid-template-columns: repeat(7, 40px); /* columnas de 40px fijas */
  gap: 12px; /* espacio entre círculos */
  justify-content: start; /* alinea a la izquierda */
}

.colorPresets::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}


/* Ocultar el radio button nativo por completo */
.colorPresets input[type="radio"] {
    display: none;
}

/* Base para todos los círculos (Labels y Picker) */
.colorPresets label,
.colorPickerWrap,
.colorPreview {
   width: 40px !important;
   height: 40px !important;
   border-radius: 50%;
   cursor: pointer;
   position: relative;
   border: none !important; /* Adiós a los bordes */
   outline: none !important;
   -webkit-appearance: none;
}

/* Estilo específico para el Custom Picker */
.colorPickerWrap {
    overflow: hidden; /* Mantiene el círculo perfecto */
}

#iconColorPicker {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 50px !important; /* Más grande para cubrir bordes nativos */
    height: 50px !important;
    opacity: 0;
    /* cursor: pointer; */
    z-index: 10;
    border: none;
}

.colorPreview {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

.colorPresets label::after,
.colorPreview::after {
    content: "􀆅";
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'sf';
    font-weight: 600;
    color: white;
    opacity: 0;
    transition: scale 300ms;
    scale: 70%;
}

/* Mostrar check si el radio está seleccionado */
.colorPresets input:checked + label::after {
    opacity: 1;
    scale: 100%;
}

/* Mostrar check si el picker está activo (marcado por JS) */
.colorPickerWrap.active .colorPreview::after {
    opacity: 1;
    scale: 100%;
}

/* Reset de estilos del sistema para el input color (por si acaso) */
input[type="color"]::-webkit-color-swatch-wrapper { padding: 0; }
input[type="color"]::-webkit-color-swatch { border: none; }

/* Transición de escala para todos los círculos */
.colorPresets label,
.colorPickerWrap {
    transition: transform 400ms var(--bezier) !important;
}

/* Escala para el Preset Seleccionado */
.colorPresets input:checked + label {
    transform: scale(1.09);
}

/* Escala para el Custom Picker cuando está activo */
.colorPickerWrap.active {
    transform: scale(1.09);
}
.screen{
    padding: 0 16px;
    margin-bottom: 30%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.weekTracker{
    background-color:#f8f8f8;
    border-radius: 26px;
    padding: 16px;
    padding-bottom: 48px;
}
.weekNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.chart {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 150px;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12%;
  height: 100%; /* Ocupa todo el alto del chart */
  position: relative;
}

.check-mark {
  position: absolute;
  bottom: -30px; 
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  text-align: center;
  font-size: 22px;
  font-weight: 550;
}
.bar {
  width: 100%;
  flex-grow: 1; /* Esto hace que la barra gris ocupe todo el espacio disponible */
  background: #e5e5ea00;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.fill {
  width: 100%;
  background: #007aff;
  position: absolute;
  bottom: 0;
  height: 0%; 
  transition: height 0.6s cubic-bezier(0.2, 0.8, 0.2, 1);
  border-radius: 5px;
}

.dayLabel {
  margin-top: 6px;
  font-size: 12px;
  font-weight: 500;
  color: #555;
}
.streakBadge{
    border-radius: 26px;
    width: 100%;
    display: flex;
    flex-direction: column;;
    text-align: center;
    font-size: 18px;
    margin-bottom: 24px;
}
hr{
    width: 100%;
    border: 0.8px solid #e9e9e9;
}
.fire{
    width: 100%;
    height: auto;
    font-size: 78px;
    color: #f87c0f;
}

#streakValue{
    font-size: 68px;
    font-family: 'streak';
}
#streakText{
    font-size: 22px;
    font-weight: 600;
}
.month{
    border-radius: 26px;
    background-color: #f8f8f8;
    padding: 16px;
}
.month,
.weekTracker {
    position: relative;
    overflow: hidden;
}
.headerA,
.headerB,
.headerIcons {
    position: sticky;
    top: -1px;
    z-index: 50;
}

.datenav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}
.navbtns{
    width: 40px;
    height: 40px;
    border:  none;
    background-color: #0000000b;
    font-weight: 590;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 16px;
    color:#00000088;
    font-family:'sf';
}
.subt{
    font-size: 21px;
    font-weight: 600;
    margin: 12px 0 0px 12px;
}
